version: 2
updates:
  # Enable version updates for bundler
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "all"
    labels:
      - "dependencies"
